*{
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}
body{
    background-color: #19384d;
}

/*FUNDO MENU*/
.menu {
    max-width: 100%;
    height: 60px;
    margin-top: 50px;
    background-color: #5da0a2;
}
/*CORPO MENU*/
.area_menu {
    max-width: 1000px;
    margin: auto;
}
.area_menu ul{
    list-style: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.area_menu ul li{
    margin: 10px 18px;
    background-color: #5da0a2;
}
/*AREA DOS LINKS*/
.area_menu a {
    color: #f4f7f7;
    text-decoration: none;
    display: block;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 4px;
    font-size: 25px;
}
.area_menu a:hover {
    border: 2px solid #f4f7f7;
}
/*AREA BOTÃO ~ MOBILE*/
label[for="bt_menu"] {
    display: none;
    text-align: center;
    cursor: pointer;

    color: #f4f7f7;
    font-size: 30px;
    
    width: 39px;
    height: 40px;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0);
    
    margin: 10px 0px 2px 18px;
}
label[for="bt_menu"]:hover {
    border: 2px solid #f4f7f7;
}
#bt_menu{
    display: none;
}

/*CORPO DO SITE*/
.container-body {
    max-width: 1000px;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 0px 5px;
}
.area_texto {
    background-color: rgb(60, 145, 145);
    border-radius: 10px ;
    padding: 20px;
    color: #f4f7f7;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px #888;
    user-select: none;
}

.area_icones {
    width: 50px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f7f7;
    border-radius: 50px;
}
.area_icones img {
    width: 30px;
    height: 30px;
    padding: 8px;
}
.area_icones img:hover {
    width: 25px;
    height: 25px;
    padding: 10px;
}

/*RODAPÉ*/
.area_footer{
    width: 100%;
    background-color: #f4f7f7;
    position: absolute;
    bottom: 0;
}
.footer {
    width: auto;
    margin: auto;
    text-align: center;
    font-size: 10px;
}








@media (min-width: 510px) and (max-width: 800px){
    /*AREA MENU ~ MOBILE*/
    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }
    #bt_menu:checked ~ label[for="bt_menu"] {
        border: 2px solid #f4f7f7;
    }
    .menu {
        width: 100%;
        height: 100%;
        margin-top: 5px;
        margin-left: -100%;
        transition: all .3s;
        position: absolute;
        padding-top: 20px;
    }
    .area_menu ul li{
        width: 100%;
        float: none;
        margin: 0px 18px;
        border-bottom: 1px solid #CCC;
    }
    .area_menu a {
        margin: 5px 10px;
        font-size: 20px;
        padding: 7px;
    }
    .menu .area_menu li:first-child{
        border-top: 1px solid #CCC;
    }
    label[for="bt_menu"] {
        display: block;
        user-select: none;
    }
    
    /* CORPO DO SITE */
    .container-body {
        flex-direction: column;
    }
    .area_icones {
        flex-direction: row;
        width: 185px;
        height: 50px;
        padding: 0px 15px;
    }
}

@media (max-width: 510px) {
    /*AREA MENU ~ MOBILE*/
    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }
    #bt_menu:checked ~ label[for="bt_menu"] {
        border: 2px solid #f4f7f7;
    }
    .menu {
        width: 100%;
        height: 100%;
        margin-top: 5px;
        margin-left: -100%;
        transition: all .3s;
        position: absolute;
        padding-top: 20px;
    }
    .area_menu ul li{
        width: 100%;
        float: none;
        margin: 0px 18px;
        border-bottom: 1px solid #CCC;
    }
    .area_menu a {
        margin: 5px 10px;
        font-size: 20px;
        padding: 7px;
    }
    .menu .area_menu li:first-child{
        border-top: 1px solid #CCC;
    }
    label[for="bt_menu"] {
        display: block;
        user-select: none;
    }


    /* CORPO DO SITE */
    .container-body {
        flex-direction: column;
    }
    .area_texto {
        width: 240px;
        font-size: 40px;
        text-align: center;
    }
    .area_icones {
        flex-direction: row;
        width: 185px;
        height: 50px;
        padding: 0px 15px;
    }

}