*{
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}
body{
    background-color: #19384d;
}
.container {
    border-top: 1px solid teal;
    border-bottom: 1px solid teal;
}
/*FUNDO MENU*/
.menu {
    max-width: 100%;
    height: 60px;
    background-color: #5da0a2;
}
/*CORPO MENU*/
.area_menu {
    max-width: 1000px;
    margin: auto;
}
.area_menu ul{
    list-style: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.area_menu ul li{
    margin: 10px 18px;
    background-color: #5da0a2;
}
/*AREA DOS LINKS*/
.area_menu a {
    color: #f4f7f7;
    text-decoration: none;
    display: block;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 4px;
    font-size: 25px;
}
.area_menu a:hover {
    border: 2px solid #f4f7f7;
}
/*AREA BOTÃO ~ MOBILE*/
 label[for="bt_menu"] {
    display: none;
    text-align: end;
    cursor: pointer;

    color: #FFF;
    font-size: 60px;
    
    width: 95vw;
    height: 80px;
    padding-right: 10vw;
    
    background-color: #19384d;
    position:fixed;
}

#bt_menu{
    display: none;
    flex: right;
} 





/*CORPO DO SITE*/
.container-body {
    max-width: 1000px;
    height: 820px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 0px 5px;
}
.area_texto {
    background-color: rgb(60, 145, 145);
    border-radius: 10px ;
    padding: 20px;
    color: #f4f7f7;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px #888;
    user-select: none;
}

.area_icones {
    width: 50px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f7f7;
    border-radius: 50px;
}
.area_icones img {
    width: 30px;
    height: 30px;
    padding: 8px;
}
.area_icones img:hover {
    width: 25px;
    height: 25px;
    padding: 10px;
}

/*SOBRE MIM*/
/*CORPO DO SITE*/
.area_aboutme{
    display: flex;
    width: 90vw;
    height: 880px;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
}

/* area foto e nome*/
.area_avatar {
    margin: 0px auto;
    padding-top: 20px;
}
.area_avatar img{
    width: 200px;
    border: 4px solid teal;
    border-radius: 100px;
}

/* quem sou */
.area-content{
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}
.area-content p {
    margin: 10px 0px;
}
/* habilidade e contato*/
.footer-aboutme ul {
    margin-top: 20px;
    list-style: none;
    font-size: 15px;
}
.footer-aboutme .icons-skills img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

/*AREA PROJETOS*/
.area_projetos {
    width: 90vw;
    height: 880px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.area_projetos .area-title-projects {
    margin: 0px auto;
    font-size: 40px;
    padding:15px 0px;
    color: #FFF;
    font-weight: 600;
}

.area-projects{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(60, 145, 145);
    border-radius: 10px;
    justify-content: center;
    padding: 8px 0px;
}
.project{
    width: 300px;
    height: 180px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    margin: 20px;
    box-shadow: 0px 0px 20px #000;
}
.project.awax {
    background-image: url('../img/projects/project-awax.jpg');
}
.project.medicenter {
    background-image: url('../img/projects/project-medicenter.jpg');
}
.project.portal {
    background-image: url('../img/projects/project-newsportal.jpg');
}
.project .project-info {
    display: none;
    height: 100%;
    border-radius: 20px;
    /*background-color: #03719C;*/
    background-color: rgba(30, 71, 90, 0.4);
    text-align: center;
}
.project:hover .project-info{
    display: block;
}

.area_projetos .area-title {
    font-size: 30px;
    padding: 30px 0px 20px 0px;
    color: #FFF;
    user-select: none;
    text-shadow: 2px 2px #000;
}
.area-content-projects {
    width: 255px;
    margin: auto;
    background-color: #FFF;
    border-radius: 10px;
}
.project-info p {
    padding: 5px;
}
.project-info a {
    color: rgb(10, 116, 255);
    font-weight: 600;
    font-size: 13px;
}

.rodape {
    width: 100%;
    height: auto;
    background-color: teal;
}
.copy {
    width: 300px;
    margin: auto;
    color: #FFF;
    font-size: 11px;
    text-align: center;
}



@media (min-width: 510px) and (max-width: 800px){
    /*AREA MENU ~ MOBILE*/
    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }
    .menu {
        width: 100%;
        height: calc(100vh - 100px);
        margin-top: 80px;
        margin-left: -100%;
        transition: all .3s;
        padding-top: 20px;
        position: fixed;
    }
    .area_menu ul li{
        width: 100%;
        float: none;
        margin: 0px 18px;
        border-bottom: 1px solid #CCC;
    }
    .area_menu a {
        margin: 5px 10px;
        font-size: 30px;
        padding: 7px;
    }
    .menu .area_menu li:first-child{
        border-top: 1px solid #CCC;
    }
    label[for="bt_menu"] {
        display: block;
        user-select: none;
    }
    
    /* CORPO DO SITE */
    .container-body {
        flex-direction: column;
        height: 1020px;
    }
    .area_icones {
        flex-direction: row;
        width: 185px;
        height: 50px;
        padding: 0px 15px;
    }
    /*SOBRE MIM*/
    .area_aboutme {
        height: 943px;
    }
    /*PROJETOS*/
    .area_projetos {
        height: 942px;
    }
}

@media (max-width: 510px) {
    /*AREA MENU ~ MOBILE*/
    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }

    .menu {
        width: 100%;
        height: calc(100vh - 100px);
        margin-top: 80px;
        margin-left: -100%;
        transition: all .3s;
        padding-top: 20px;
        position: fixed;
    }
    .area_menu ul li{
        width: 100%;
        float: none;
        margin: 0px 18px;
        border-bottom: 1px solid #CCC;
    }
    .area_menu a {
        margin: 5px 10px;
        font-size: 20px;
        padding: 7px;
    }
    .menu .area_menu li:first-child{
        border-top: 1px solid #CCC;
    }
    label[for="bt_menu"] {
        display: block;
        user-select: none;
    }


    /* CORPO DO SITE */
    .container-body {
        flex-direction: column;
        height: 808px;
    }
    .area_texto {
        width: 240px;
        font-size: 40px;
        text-align: center;
    }
    .area_icones {
        flex-direction: row;
        width: 185px;
        height: 50px;
        padding: 0px 15px;
    }
    /*SOBRE MIM*/
    .area_aboutme {
        height: 730px;
    }
    .area_aboutme .area-content{
        margin: 20px auto;
    }

    /*PROJETOS*/
    .area_projetos {
        justify-content: space-between;
        height: 710px;
        padding-bottom: 20px;
    }.area_projetos .area-title-projects {
        font-size: 30px;
    }
    .project {
        width: 280px;
        height: 170px;
}