* {
    margin: 0;
    padding: 0;
}
body{
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #19384d;
}


/********************

* * * Cabeçalho * * *

*********************/
/*mobile*/
.mobile {
    margin: auto;
    height: 60px;
    display: inline-block;
    line-height: 30px;
    margin-top: 20px;
    flex-direction: column;

}
.mobile .icon-mobile {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin-left: 30px;
    border-radius: 10px;
}
.icon-mobile:hover .area-nav-mobile{
    display: inline-block;
}
.area-nav-mobile {
    display: none;
    width: 172px;
    margin-left: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
}
.area-nav-mobile ul li{
    list-style: none;
    margin: 10px 0px;
    padding: 5px 0px;
}
.area-nav-mobile a {
    text-decoration: none;
    color: #000;
    font-size: 40px;
    border-bottom: 1px solid #888;
}
.mobile .icon-mobile .point {
    display: none;
    width: 55px;
    height: 4px;
    margin: 6px 0px;
    border-radius: 20px;
    background-color: #FFF;
}

/*end - mobile*/



.area-nav {
    display: flex;
    align-items: center;
    max-width: 1400px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: flex-end; 
}
.area-nav ul {
    display: flex;
    list-style: none;
}
.area-nav li a{
    color: #FFF;
    font-size: 30px;
    text-decoration: none;
    margin: 0px 10px;
    padding: 4px;
    border-radius: 5px;
    border: 3px solid rgb(0,0,0,0.0);
    text-shadow: 2px 2px #888;
}
.area-nav li .active {
    border: 3px solid #FFF;
}
.area-nav li a:hover{
    border: 3px solid #FFF;
}



/********************

* * * * Corpo * * * *

*********************/
.body {
    max-width: 1400px;
    height: calc(100vh - 160px);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.title, 
.title-mobile {
    background-color: rgb(60, 145, 145);
    border-radius: 20px ;
    padding: 30px;
    color: #FFF;
    font-size: 60px;
    text-shadow: 2px 2px #888;
}
.title-mobile {
    display: none;
}

/*icones*/
.icon-social {
    background-color: aliceblue;
    border-radius: 20px;
    margin-right: 20px;
}
.icon-social .icons{
    display: flex;
    flex-direction: column;
}
.icon-social  .icons img{
    width: 25px;
    height: 25px;
    margin: 10px;
}
.icon-social .icons img:hover{
    width: 20px;
    height: 20px;
}



/********************

* * * * Corpo * * * *

*********************/
footer {
    width: 100%;
    background-color: #FFF;
    border-top:1px solid #CCC ;
}

.copy {
    max-width: 1000px;
    margin: auto;
    text-align: center; 
    font-size: 12px;
}





@media screen and (min-width:650px) and (max-width: 800px){
    
    nav .area-nav {
        display: none;
    }

    .mobile .icon-mobile .point {
        display: block;
    }

    .body {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: calc(100vh - 96px);
    }
    .title{
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 20px;
    }
    .title h3{
        font-size: 54px;
    }
    .title h5 {
        font-size: 40px;
    }
    .icon-social {
        margin: 0;
        display: flex;
        padding: 0px 10px;
    }
    .icon-social .icons {
        display: flex;
        flex-direction: row-reverse;
    }
}

@media screen and (max-width:650px) {
    nav .area-nav {
        display: none;
    }

    .mobile .icon-mobile .point {
        display: block;
    }
    .body {
        max-width: 500px;
        height: calc(100vh - 96px);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .title {
        display: none;
    }
    .title-mobile{
        display: block;
        width: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 20px;
    }
    
    .title-mobile h3{
        font-size: 54px;
    }
    .title-mobile h5 {
        font-size: 40px;
    }
    .icon-social {
        margin: 0;
        display: flex;
        padding: 0px 10px;
    }
    .icon-social .icons {
        display: flex;
        flex-direction: row-reverse;
    }
}